* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #000000;
    background-image: url("../images/bgimg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  /*  font-family: 'Sorts Mill Goudy', serif;
      font-family: 'Cormorant', serif; */
    text-align: justify;
    color: #FFFFFF;
    margin: 2vw;
    padding: 25px 25px 25px 25px;
    cursor: crosshair;
  }
  
  .broken {
    background-color: rgba(0, 0, 0, .8);
    color: white;
  
    font-size: 13.5px;
    letter-spacing: 2px;
    text-align: justify;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 15px 15px 15px 15px;
    overflow: auto;
  }
  
  a{
    color: rgb(255,255,255);
    text-decoration: underline;
    cursor: crosshair;
  }
  a:hover{
    color: #e5ff00;;
    cursor: crosshair;
  }
  
  h1 {
    text-align: center;
  }
  
  input {
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    padding: 5px;
  }
  
  button {
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, .8);
    color: #e5ff00;;
    padding: 5px 10px;
    cursor: crosshair;
  }
  
  .wrap {
    max-width: 700px;
    margin: 20px auto;
  }
  
  .center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .error-message {
    color: #e5ff00;
  }
  
  /* START SCROLLBAR STYLE, #1 width */
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e5ff00;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
    border: 1px solid black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e5ff00;
  }