@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Russo+One&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #000000;
    background-image: url("../images/bgimg2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Courier Prime', monospace;
    text-align: justify;
    color: #FFFFFF;
    margin: 2vw;
    padding: 25px 25px 25px 25px;
    cursor: crosshair;
  }
  
  .broken {
    background-color: rgba(225, 225, 225, .6);
    color: black;
    font-size: 13.5px;
    letter-spacing: 2px;
    text-align: justify;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 15px 15px 15px 15px;
    overflow: auto;
    border: 1px solid #000;
    box-shadow: 5px 5px 20px  black;

  }
  
  a{
    color: #e5ff00;
    text-decoration: none;
    cursor: crosshair;
  }
  a:hover{
    cursor: crosshair;
    font-weight: 700;
    text-transform: none;
  }

  h1 {
    text-align: center;
    color: #e5ff00;
    font-family: 'Russo One', sans-serif;
    text-shadow: 2px 2px 2px black;
  }
  
  input {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    padding: 5px;
    font-family: 'Courier Prime', monospace;
  }
  
  button {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    padding: 5px 10px;
    cursor: crosshair;
    font-family: 'Courier Prime', monospace;
  }
  
  .wrap {
    max-width: 700px;
    margin: 20px auto;
  }
  
  .center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .error-message {
    color: #e5ff00;
  }
  
  /* START SCROLLBAR STYLE, #1 width */
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e5ff00;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
    border: 1px solid white;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(229, 255, 0)
  }